@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

@keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

@-webkit-keyframes beacon-light-left {
  0% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
}

@keyframes beacon-light-left {
  0% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes beacon-light-right {
  0% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
}

@keyframes beacon-light-right {
  0% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
}

@-webkit-keyframes beacon-glow {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beacon-glow {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lightpole-glow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 0px #ffeec1;
            box-shadow: 0px 0px 10px 0px #ffeec1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
}

@keyframes lightpole-glow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 0px #ffeec1;
            box-shadow: 0px 0px 10px 0px #ffeec1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
}

@-webkit-keyframes wiggle-0 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-0 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-1 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-1 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-2 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-2 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-3 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-3 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-4 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-4 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-5 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-5 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-6 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-6 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-7 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-7 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-8 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-8 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-9 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-9 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-10 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-10 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-11 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-11 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-12 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-12 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-13 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-13 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-14 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-14 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-15 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-15 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-16 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-16 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-17 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-17 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-18 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-18 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-19 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-19 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-20 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-20 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-21 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-21 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-22 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-22 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-23 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-23 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-24 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-24 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-25 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-25 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-26 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-26 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-27 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-27 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-28 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-28 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-29 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-29 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-30 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-30 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-31 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-31 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-32 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-32 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-33 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-33 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-34 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-34 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-35 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-35 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-36 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-36 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-37 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-37 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-38 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-38 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-39 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-39 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-40 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-40 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-41 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-41 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-42 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-42 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-43 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-43 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-44 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-44 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-45 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-45 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-46 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-46 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-47 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-47 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-48 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-48 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-49 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-49 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-50 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-50 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes claw-move {
  0% {
    left: 290px;
  }
  10% {
    left: 290px;
  }
  40% {
    left: 390px;
  }
  60% {
    left: 390px;
  }
  90% {
    left: 290px;
  }
  100% {
    left: 290px;
  }
}

@keyframes claw-move {
  0% {
    left: 290px;
  }
  10% {
    left: 290px;
  }
  40% {
    left: 390px;
  }
  60% {
    left: 390px;
  }
  90% {
    left: 290px;
  }
  100% {
    left: 290px;
  }
}

@-webkit-keyframes claw-arm {
  0% {
    height: 120px;
    z-index: 3;
  }
  10% {
    height: 20px;
    z-index: 3;
  }
  40% {
    height: 20px;
    z-index: 1;
  }
  50% {
    height: 120px;
    z-index: 1;
  }
  60% {
    height: 20px;
    z-index: 1;
  }
  90% {
    height: 20px;
    z-index: 3;
  }
  100% {
    height: 120px;
    z-index: 3;
  }
}

@keyframes claw-arm {
  0% {
    height: 120px;
    z-index: 3;
  }
  10% {
    height: 20px;
    z-index: 3;
  }
  40% {
    height: 20px;
    z-index: 1;
  }
  50% {
    height: 120px;
    z-index: 1;
  }
  60% {
    height: 20px;
    z-index: 1;
  }
  90% {
    height: 20px;
    z-index: 3;
  }
  100% {
    height: 120px;
    z-index: 3;
  }
}

@-webkit-keyframes barrel {
  0% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
  10% {
    opacity: 1;
    top: 40px;
    z-index: 3;
  }
  40% {
    opacity: 1;
    top: 40px;
    z-index: 1;
  }
  49% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0;
    top: 140px;
    z-index: 1;
  }
  60% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  90% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
}

@keyframes barrel {
  0% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
  10% {
    opacity: 1;
    top: 40px;
    z-index: 3;
  }
  40% {
    opacity: 1;
    top: 40px;
    z-index: 1;
  }
  49% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0;
    top: 140px;
    z-index: 1;
  }
  60% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  90% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
}

@-webkit-keyframes claw {
  0% {
    top: 127px;
    z-index: 3;
  }
  10% {
    top: 27px;
    z-index: 3;
  }
  40% {
    top: 27px;
    z-index: 1;
  }
  50% {
    top: 127px;
    z-index: 1;
  }
  60% {
    top: 27px;
    z-index: 1;
  }
  90% {
    top: 27px;
    z-index: 3;
  }
  100% {
    top: 127px;
    z-index: 3;
  }
}

@keyframes claw {
  0% {
    top: 127px;
    z-index: 3;
  }
  10% {
    top: 27px;
    z-index: 3;
  }
  40% {
    top: 27px;
    z-index: 1;
  }
  50% {
    top: 127px;
    z-index: 1;
  }
  60% {
    top: 27px;
    z-index: 1;
  }
  90% {
    top: 27px;
    z-index: 3;
  }
  100% {
    top: 127px;
    z-index: 3;
  }
}

@-webkit-keyframes chain-container {
  0% {
    height: 10px;
  }
  100% {
    height: 250px;
  }
}

@keyframes chain-container {
  0% {
    height: 10px;
  }
  100% {
    height: 250px;
  }
}

@-webkit-keyframes anca-container {
  0% {
    bottom: 98px;
  }
  100% {
    bottom: -142px;
  }
}

@keyframes anca-container {
  0% {
    bottom: 98px;
  }
  100% {
    bottom: -142px;
  }
}

@-webkit-keyframes clouds-moving {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes clouds-moving {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes sun {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes sun {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@-webkit-keyframes sun-mobile {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes sun-mobile {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.ship-container {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 5s ease-out;
  transition: all 5s ease-out;
}

.ship-container.large {
  -webkit-transform: translate(-60%, -80%);
          transform: translate(-60%, -80%);
}

.ship-container.medium {
  -webkit-transform: translate(-80%, -80%);
          transform: translate(-80%, -80%);
}

.ship-container.small {
  -webkit-transform: translate(-90%, -80%);
          transform: translate(-90%, -80%);
}

.ship-container.smallest {
  -webkit-transform: translate(-110%, -80%);
          transform: translate(-110%, -80%);
}

.ship-container .ship {
  -webkit-transform-origin: 100% 80%;
          transform-origin: 100% 80%;
}

.ship-container .ship.large {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ship-container .ship.medium {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.ship-container .ship.small {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.ship-container .ship.smallest {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.ship-container .ship .claw-container {
  position: absolute;
  top: 43px;
  width: 40px;
  height: 40px;
  -webkit-animation: claw-move 4s ease-in-out infinite;
          animation: claw-move 4s ease-in-out infinite;
}

.ship-container .ship .claw-container .grip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.ship-container .ship .claw-container .claw-arm {
  position: absolute;
  width: 3px;
  height: 20px;
  border-radius: 20px;
  background-color: #ed8e20;
  -webkit-animation: claw-arm 4s ease-in-out infinite;
          animation: claw-arm 4s ease-in-out infinite;
  top: 10px;
  left: 8px;
  z-index: 1;
}

.ship-container .ship .claw-container .claw {
  position: absolute;
  top: 27px;
  left: -3px;
  z-index: 1;
  -webkit-animation: claw 4s ease-in-out infinite;
          animation: claw 4s ease-in-out infinite;
}

.ship-container .ship .claw-container .barrel {
  position: absolute;
  top: 40px;
  left: 3px;
  z-index: 1;
  -webkit-animation: barrel 4s ease-in-out infinite;
          animation: barrel 4s ease-in-out infinite;
}

.ship-container .ship .anca-container {
  position: absolute;
  background-color: orange;
  right: 140px;
  bottom: 98px;
  z-index: 3;
}

.ship-container .ship .anca-container .chain-container {
  position: absolute;
  overflow: hidden;
  height: 10px;
  width: 10px;
  left: 0;
  bottom: 0;
}

.ship-container .ship .anca-container .chain-container .chain {
  position: absolute;
  bottom: 0;
}

.ship-container .ship .anca-container .anca {
  position: absolute;
  top: -4px;
  left: -11px;
}

.ship-container .ship .ship-body {
  position: relative;
  z-index: 2;
}

.ship-container.initial {
  -webkit-transition: all 20s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 20s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ship-container.initial.large {
  -webkit-transform: translate(-40%, -80%);
          transform: translate(-40%, -80%);
}

.ship-container.initial.medium {
  -webkit-transform: translate(-60%, -80%);
          transform: translate(-60%, -80%);
}

.ship-container.initial.small {
  -webkit-transform: translate(-80%, -80%);
          transform: translate(-80%, -80%);
}

.ship-container.initial.smallest {
  -webkit-transform: translate(-90%, -80%);
          transform: translate(-90%, -80%);
}

.ship-container.anchored.large {
  -webkit-transform: translate(-10%, -80%) !important;
          transform: translate(-10%, -80%) !important;
}

.ship-container.anchored.medium {
  -webkit-transform: translate(-30%, -80%) !important;
          transform: translate(-30%, -80%) !important;
}

.ship-container.anchored.small {
  -webkit-transform: translate(-50%, -80%) !important;
          transform: translate(-50%, -80%) !important;
}

.ship-container.anchored.smallest {
  -webkit-transform: translate(-70%, -80%) !important;
          transform: translate(-70%, -80%) !important;
}

.ship-container.anchored .ship .anca-container {
  -webkit-animation: anca-container 1s 4s ease-in-out forwards;
          animation: anca-container 1s 4s ease-in-out forwards;
}

.ship-container.anchored .ship .anca-container .chain-container {
  -webkit-animation: chain-container 1s 4s ease-in-out forwards;
          animation: chain-container 1s 4s ease-in-out forwards;
}
/*# sourceMappingURL=ship.css.map */