@import "../../../../../../scss/variables.scss";

.ship-container {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 3;

  transition: all 5s $cbSlowOut;

  &.large {
    transform: translate(-60%, -80%);
  }
  &.medium {
    transform: translate(-80%, -80%);
  }
  &.small {
    transform: translate(-90%, -80%);
  }
  &.smallest {
    transform: translate(-110%, -80%);
  }

  .ship {
    transform-origin: 100% 80%;

    &.large {
      transform: scale(1);
    }
    &.medium {
      transform: scale(0.9);
    }
    &.small {
      transform: scale(0.6);
    }
    &.smallest {
      transform: scale(0.4);
    }

    .claw-container {
      position: absolute;
      top: 43px;
      width: 40px;
      height: 40px;

      animation: claw-move 4s ease-in-out infinite;

      .grip {
        position: absolute;
        top: 0;
        left: 0;

        z-index: 3;
      }
      .claw-arm {
        position: absolute;
        width: 3px;
        height: 20px;
        border-radius: 20px;
        background-color: #ed8e20;

        animation: claw-arm 4s ease-in-out infinite;

        top: 10px;
        left: 8px;
        z-index: 1;
      }
      .claw {
        position: absolute;
        top: 27px;
        left: -3px;
        z-index: 1;

        animation: claw 4s ease-in-out infinite;
      }
      .barrel {
        position: absolute;
        top: 40px;
        left: 3px;
        z-index: 1;

        animation: barrel 4s ease-in-out infinite;
      }
    }

    .anca-container {
      position: absolute;
      background-color: orange;

      right: 140px;
      bottom: 98px;
      z-index: 3;

      .chain-container {
        position: absolute;
        overflow: hidden;
        height: 10px;
        width: 10px;

        left: 0;
        bottom: 0;

        .chain {
          position: absolute;
          bottom: 0;
        }
      }
      .anca {
        position: absolute;

        top: -4px;
        left: -11px;
      }
    }

    .ship-body {
      position: relative;
      z-index: 2;
    }
  }

  &.initial {
    transition: all 20s $cbSlowOut;

    &.large {
      transform: translate(-40%, -80%);
    }
    &.medium {
      transform: translate(-60%, -80%);
    }
    &.small {
      transform: translate(-80%, -80%);
    }
    &.smallest {
      transform: translate(-100%, -80%);
    }
  }

  &.anchored {
    &.large {
      transform: translate(-10%, -80%) !important;
    }
    &.medium {
      transform: translate(-30%, -80%) !important;
    }
    &.small {
      transform: translate(-50%, -80%) !important;
    }
    &.smallest {
      transform: translate(-80%, -80%) !important;
    }

    .ship {
      .anca-container {
        animation: anca-container 1s 2s ease-in-out forwards;
        .chain-container {
          animation: chain-container 1s 2s ease-in-out forwards;
        }
      }
    }
  }
}
