@import "../../../../../scss/variables.scss";

.main-screen {
  overflow: hidden;
  height: 100vh;

  .title-container {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 3;
    font-weight: bold;
    transition: all 1s ease-in-out;
    width: 80%;

    @include section-aware("color", "main-text");

    .title {
      font-size: 5em;
    }
    .tagline {
      font-size: 2.3em;
    }

    @include width768 {
      top: 10%;
      left: 50%;
      text-align: center;

      transform: translateX(-50%);

      .title {
        font-size: 3em;
      }
      .tagline {
        font-size: 1.5em;
      }
    }

    @include width360 {
      .title {
        font-size: 2.8em;
      }
      .tagline {
        font-size: 1.2em;
      }
    }

    &.section-3 {
      top: 15px;
      left: 60px;

      .title {
        font-size: 1.2em;
      }

      .tagline {
        display: none;
      }
    }
  }

  .clouds {
    height: 75vh;
    position: relative;

    transition: background-color 3s $cbInOut;

    .cloud {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(150px) scale(1);
      transform-origin: center bottom;
    }

    .clouds-large-1 {
      margin-left: -200px;

      transition: filter 1s ease-out;

      &.light {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(180deg)
          brightness(105%) contrast(101%);
      }

      &.dark {
        filter: invert(33%) sepia(6%) saturate(4235%) hue-rotate(211deg)
          brightness(86%) contrast(85%);
      }
    }
    .clouds-large-2 {
      margin-bottom: -80px;
      margin-left: 50px;

      transition: filter 2s ease-out;

      &.light {
        filter: invert(75%) sepia(40%) saturate(266%) hue-rotate(170deg)
          brightness(100%) contrast(92%);
      }

      &.dark {
        filter: invert(23%) sepia(94%) saturate(414%) hue-rotate(212deg)
          brightness(82%) contrast(101%);
      }
    }

    .clouds-small-container {
      position: absolute;
      width: 100%;
      height: 100%;

      animation: clouds-moving 40s linear infinite;

      .cloud-small {
        position: absolute;

        &.one {
          top: 5%;
          left: 5%;
        }
        &.two {
          top: 30%;
          left: 30%;
        }
        &.three {
          top: 10%;
          left: 60%;

          @include width768 {
            display: none;
          }
        }
      }
    }
  }
  .bottom-section {
    position: relative;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 4;

    transition: background-color 3s $cbInOut;

    @include section-aware("background-color", "bottom");

    @include width1000 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .bottom-paragraph {
      margin: 10px 0;
      max-height: 50%;
      width: 0;
      overflow: hidden;
      color: white;
      text-align: center;
      opacity: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: width 1s $cbInOut, opacity 1s 0.4s ease-in-out;

      p {
        margin: 2px;
      }

      @include width1366 {
        font-size: 0.8em;

        transition: width 0s $cbInOut, opacity 1s 0.4s ease-in-out;
      }
    }

    &.section-1 {
      .bottom-paragraph {
        height: 0;
      }
    }

    &.section-2 {
      .bottom-paragraph {
        opacity: 1;
        width: 80%;
      }
    }
  }
  .water {
    position: relative;
    height: 10vh;

    transition: background-color 3s $cbInOut;

    @include section-aware("background-color", "water-back");

    .water-top {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;

      transition: background-color 3s $cbInOut;

      @include section-aware("background-color", "water-top");

      .water-lines {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
      }
    }
  }

  @include width1000 {
    .water {
      height: 5vh;
    }
    .bottom-section {
      height: 20vh;
    }
  }

  .sun {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #ffffeb;
    top: 5%;
    left: 40%;
    opacity: 1;

    @include section-aware("background-color", "sun");

    &.section-2 {
      animation: sun 3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    }
    &.section-3 {
      animation: sun 3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

      transition: opacity 0.4s ease-out;
      opacity: 0;
    }

    @include width1000 {
      &.section-2 {
        animation: sun-mobile 3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
          forwards;
      }
      &.section-3 {
        animation: sun-mobile 3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
          forwards;

        transition: opacity 0.4s ease-out;
        opacity: 0;
      }
    }
  }

  &.section-3 {
    transition: all 0.4s ease-out;
    height: 0;
    overflow: hidden;
  }
}
