@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

@keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

.main-screen {
  overflow: hidden;
}

.main-screen .clouds {
  height: 75vh;
  position: relative;
  -webkit-transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-screen .clouds .cloud {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(150px) scale(1);
          transform: translateX(-50%) translateY(150px) scale(1);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.main-screen .clouds .clouds-large-1 {
  margin-left: -200px;
  -webkit-transition: -webkit-filter 1s ease-out;
  transition: -webkit-filter 1s ease-out;
  transition: filter 1s ease-out;
  transition: filter 1s ease-out, -webkit-filter 1s ease-out;
}

.main-screen .clouds .clouds-large-1.light {
  -webkit-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(180deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(180deg) brightness(105%) contrast(101%);
}

.main-screen .clouds .clouds-large-1.dark {
  -webkit-filter: invert(33%) sepia(6%) saturate(4235%) hue-rotate(211deg) brightness(86%) contrast(85%);
          filter: invert(33%) sepia(6%) saturate(4235%) hue-rotate(211deg) brightness(86%) contrast(85%);
}

.main-screen .clouds .clouds-large-2 {
  margin-bottom: -80px;
  margin-left: 50px;
  -webkit-transition: -webkit-filter 2s ease-out;
  transition: -webkit-filter 2s ease-out;
  transition: filter 2s ease-out;
  transition: filter 2s ease-out, -webkit-filter 2s ease-out;
}

.main-screen .clouds .clouds-large-2.light {
  -webkit-filter: invert(75%) sepia(40%) saturate(266%) hue-rotate(170deg) brightness(100%) contrast(92%);
          filter: invert(75%) sepia(40%) saturate(266%) hue-rotate(170deg) brightness(100%) contrast(92%);
}

.main-screen .clouds .clouds-large-2.dark {
  -webkit-filter: invert(23%) sepia(94%) saturate(414%) hue-rotate(212deg) brightness(82%) contrast(101%);
          filter: invert(23%) sepia(94%) saturate(414%) hue-rotate(212deg) brightness(82%) contrast(101%);
}

.main-screen .bottom-section {
  position: relative;
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section-1 .main-screen .bottom-section {
  background-color: #383a75;
}

.section-2 .main-screen .bottom-section {
  background-color: #230f4f;
}

.section-3 .main-screen .bottom-section {
  background-color: #230f4f;
}

.main-screen .water {
  position: relative;
  height: 10vh;
  -webkit-transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section-1 .main-screen .water {
  background-color: #4db4ff;
}

.section-2 .main-screen .water {
  background-color: #300863;
}

.section-3 .main-screen .water {
  background-color: #300863;
}

.main-screen .water .water-top {
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section-1 .main-screen .water .water-top {
  background-color: rgba(160, 198, 255, 0.5);
}

.section-2 .main-screen .water .water-top {
  background-color: rgba(70, 49, 114, 0.5);
}

.section-3 .main-screen .water .water-top {
  background-color: rgba(70, 49, 114, 0.5);
}
/*# sourceMappingURL=main-screen.css.map */