@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

@keyframes expand-icon {
  0% {
    opacity: 0;
    margin-left: 0;
    width: 0;
  }
  20% {
    opacity: 0;
    margin-left: 20px;
    width: 19px;
  }
  100% {
    opacity: 1;
    margin-left: 20px;
    width: 19px;
  }
}

@-webkit-keyframes beacon-light-left {
  0% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
}

@keyframes beacon-light-left {
  0% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes beacon-light-right {
  0% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
}

@keyframes beacon-light-right {
  0% {
    -webkit-transform: scale(0, 1.2);
            transform: scale(0, 1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0.5);
            transform: scale(0, 0.5);
    opacity: 0;
  }
}

@-webkit-keyframes beacon-glow {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beacon-glow {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lightpole-glow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 0px #ffeec1;
            box-shadow: 0px 0px 10px 0px #ffeec1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
}

@keyframes lightpole-glow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 0px #ffeec1;
            box-shadow: 0px 0px 10px 0px #ffeec1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 5px #ffeec1;
            box-shadow: 0px 0px 20px 5px #ffeec1;
  }
}

@-webkit-keyframes wiggle-0 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-0 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-1 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-1 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-2 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-2 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-3 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-3 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-4 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-4 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-5 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-5 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-6 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-6 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-7 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-7 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-8 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-8 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-9 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-9 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-10 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-10 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-11 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-11 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-12 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-12 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-13 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-13 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-14 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-14 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-15 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-15 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-16 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-16 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-17 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-17 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-18 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-18 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-19 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-19 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-20 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-20 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-21 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-21 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-22 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-22 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-23 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-23 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-24 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-24 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-25 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-25 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-26 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-26 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-27 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-27 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-28 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-28 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-29 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-29 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-30 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-30 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-31 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-31 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-32 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-32 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-33 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-33 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-34 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-34 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-35 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-35 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-36 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-36 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-37 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-37 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-38 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-38 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(14px, 0);
            transform: translate(14px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-39 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-39 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-40 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-40 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(8px, 0);
            transform: translate(8px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-41 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-41 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-42 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-42 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-43 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-43 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-44 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-44 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-45 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-45 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-46 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-46 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(18px, 0);
            transform: translate(18px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-47 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-47 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-48 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-48 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-49 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-49 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(6px, 0);
            transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes wiggle-50 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes wiggle-50 {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@-webkit-keyframes claw-move {
  0% {
    left: 290px;
  }
  10% {
    left: 290px;
  }
  40% {
    left: 390px;
  }
  60% {
    left: 390px;
  }
  90% {
    left: 290px;
  }
  100% {
    left: 290px;
  }
}

@keyframes claw-move {
  0% {
    left: 290px;
  }
  10% {
    left: 290px;
  }
  40% {
    left: 390px;
  }
  60% {
    left: 390px;
  }
  90% {
    left: 290px;
  }
  100% {
    left: 290px;
  }
}

@-webkit-keyframes claw-arm {
  0% {
    height: 120px;
    z-index: 3;
  }
  10% {
    height: 20px;
    z-index: 3;
  }
  40% {
    height: 20px;
    z-index: 1;
  }
  50% {
    height: 120px;
    z-index: 1;
  }
  60% {
    height: 20px;
    z-index: 1;
  }
  90% {
    height: 20px;
    z-index: 3;
  }
  100% {
    height: 120px;
    z-index: 3;
  }
}

@keyframes claw-arm {
  0% {
    height: 120px;
    z-index: 3;
  }
  10% {
    height: 20px;
    z-index: 3;
  }
  40% {
    height: 20px;
    z-index: 1;
  }
  50% {
    height: 120px;
    z-index: 1;
  }
  60% {
    height: 20px;
    z-index: 1;
  }
  90% {
    height: 20px;
    z-index: 3;
  }
  100% {
    height: 120px;
    z-index: 3;
  }
}

@-webkit-keyframes barrel {
  0% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
  10% {
    opacity: 1;
    top: 40px;
    z-index: 3;
  }
  40% {
    opacity: 1;
    top: 40px;
    z-index: 1;
  }
  49% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0;
    top: 140px;
    z-index: 1;
  }
  60% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  90% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
}

@keyframes barrel {
  0% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
  10% {
    opacity: 1;
    top: 40px;
    z-index: 3;
  }
  40% {
    opacity: 1;
    top: 40px;
    z-index: 1;
  }
  49% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0;
    top: 140px;
    z-index: 1;
  }
  60% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  90% {
    opacity: 0;
    top: 40px;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    top: 140px;
    z-index: 3;
  }
}

@-webkit-keyframes claw {
  0% {
    top: 127px;
    z-index: 3;
  }
  10% {
    top: 27px;
    z-index: 3;
  }
  40% {
    top: 27px;
    z-index: 1;
  }
  50% {
    top: 127px;
    z-index: 1;
  }
  60% {
    top: 27px;
    z-index: 1;
  }
  90% {
    top: 27px;
    z-index: 3;
  }
  100% {
    top: 127px;
    z-index: 3;
  }
}

@keyframes claw {
  0% {
    top: 127px;
    z-index: 3;
  }
  10% {
    top: 27px;
    z-index: 3;
  }
  40% {
    top: 27px;
    z-index: 1;
  }
  50% {
    top: 127px;
    z-index: 1;
  }
  60% {
    top: 27px;
    z-index: 1;
  }
  90% {
    top: 27px;
    z-index: 3;
  }
  100% {
    top: 127px;
    z-index: 3;
  }
}

@-webkit-keyframes chain-container {
  0% {
    height: 10px;
  }
  100% {
    height: 250px;
  }
}

@keyframes chain-container {
  0% {
    height: 10px;
  }
  100% {
    height: 250px;
  }
}

@-webkit-keyframes anca-container {
  0% {
    bottom: 98px;
  }
  100% {
    bottom: -142px;
  }
}

@keyframes anca-container {
  0% {
    bottom: 98px;
  }
  100% {
    bottom: -142px;
  }
}

@-webkit-keyframes clouds-moving {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes clouds-moving {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes sun {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes sun {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@-webkit-keyframes sun-mobile {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes sun-mobile {
  0% {
    top: 5%;
    left: 40%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 100%;
    left: 120%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    left: 30%;
    top: 90%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    left: 40%;
    top: 50%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.lighthouse-container {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform-origin: 100% 85%;
          transform-origin: 100% 85%;
}

.lighthouse-container.large {
  -webkit-transform: translate(0%, -85%) scale(0.8);
          transform: translate(0%, -85%) scale(0.8);
}

.lighthouse-container.medium {
  -webkit-transform: translate(0%, -85%) scale(0.6);
          transform: translate(0%, -85%) scale(0.6);
}

.lighthouse-container.small {
  -webkit-transform: translate(0%, -85%) scale(0.5);
          transform: translate(0%, -85%) scale(0.5);
}

.lighthouse-container.smallest {
  -webkit-transform: translate(0%, -85%) scale(0.4);
          transform: translate(0%, -85%) scale(0.4);
}

.lighthouse-container .windows-container {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 114px;
  left: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lighthouse-container .windows-container .beacon-glow {
  position: absolute;
  top: -160px;
  left: -146px;
  -webkit-animation: beacon-glow 6s ease-in-out infinite;
          animation: beacon-glow 6s ease-in-out infinite;
}

.lighthouse-container .windows-container .beacon-light {
  position: absolute;
}

.lighthouse-container .windows-container .beacon-light.left {
  left: -620px;
  -webkit-animation: beacon-light-left 6s ease-in-out infinite;
          animation: beacon-light-left 6s ease-in-out infinite;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.lighthouse-container .windows-container .beacon-light.right {
  left: 75px;
  -webkit-animation: beacon-light-right 6s ease-in-out infinite;
          animation: beacon-light-right 6s ease-in-out infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.lighthouse-container .windows-container .window {
  height: 100%;
  -webkit-transition: all 2s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 2s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section-1 .lighthouse-container .windows-container .window {
  background-color: #2c1b3d;
}

.section-2 .lighthouse-container .windows-container .window {
  background-color: #ffeec1;
}

.section-3 .lighthouse-container .windows-container .window {
  background-color: #ffeec1;
}

.lighthouse-container .windows-container .window.first {
  width: 15px;
}

.lighthouse-container .windows-container .window.second {
  width: 25px;
}

.lighthouse-container .windows-container .window.third {
  width: 25px;
}

.lighthouse-container .windows-container .window.fourth {
  width: 15px;
}

.lighthouse-container .light-pole {
  width: 14px;
  height: 18px;
  position: absolute;
  top: 572px;
  left: 177px;
}

.section-1 .lighthouse-container .light-pole {
  background-color: #dafbff;
}

.section-2 .lighthouse-container .light-pole {
  background-color: #ffeec1;
}

.section-3 .lighthouse-container .light-pole {
  background-color: #ffeec1;
}

.lighthouse-container .light-pole.glowing {
  -webkit-animation: lightpole-glow 10s ease-in-out infinite;
          animation: lightpole-glow 10s ease-in-out infinite;
}
/*# sourceMappingURL=lighthouse.css.map */