@import "../scss/variables.scss";

html {
  font-family: "Varela Round", sans-serif;

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .App {
      transition: background-color 3s $cbInOut;

      &.section-1 {
        background-color: #c7dff4;
      }
      &.section-2 {
        background-color: #392e64;
      }
      &.section-3 {
        background-color: #392e64;
      }
    }
  }
}
